# virtual environment
/env

# unused : 
/unused_files

*.pyc

# cache :
/__pycache__

# app's sqlite database file
*.sqlite3

# testing
#.pytest_cache/
.coverage
htmlcov/

# Deploy
#dist/
#build/
#*.egg-info/