<!-- about page, "à propos". -->

{% extends 'ventashop/base.html' %}

{% block title %}À propos{% endblock title %}

{% block content %}

<!-- <p class="fs-1 fw-bold">Ventalis - Produits de marketing </p> -->
<!-- <p class="fs-1 fw-bold ">Notre but : vous voir !</p> -->
<!-- </div> -->

<main class="v-main v-main-bgd-img d-flex flex-column">
    <div class="container text-center v-white-text">
        <h1 class="display-6 text-center">Qui sommes-nous ?</h1>
        <h2 class="text-center">Ventalis :</h2>
        <p class="fs-6">Nous sommes une entreprise spécialisée dans la vente de produit de marketing. Nos produits ont un seul but : améliorer la visibilité de nos clients. 
            En activité depuis 2018, nous sommes une Licorne 100% française.
        </p>
        <p>    
            Nous mettons l'accent sur notre performance : rapidité de prestation, garantie satisfaction de nos clients.
        </p>
        <p>
            Aujourd'hui nous sommes forts 50 salariés répartis dans toute la France, un chiffre qui ne cesse de crôitre.
            L’an passé, c'est trois millions d’euros en chiffre d’affaires consolidé. Un cap que nous sommes fiers et heureux d’avoir franchi.
        </p>
        <p>
            Aussi, dans le contexte actuel, nous nous efforçons de participer à la protection de notre planète via une démarche écologique : 
            Nous reversons 20% de notre chiffre d’affaires annuel (plus de 3 millions d’euros) dans des projets qui mettent en place des solutions durables pour l'avenir de merde qui nous attend tous. 
            Et en toute transparence cela se traduit par un service un peu plus cher, mais nos clients sont unanimes et optent pour un geste servant la planète.
        </p>
    </div>
</main>

{% endblock content %}