/* Our customized stylesheet */

/* if we have some time left, it would be better to implement sass... */

:root {
    --bs-body-font-family: 'Open Sans',Verdana,Tahoma,Arial,Helvetica,sans-serif;
}

.container-viz {
    border: 2px solid black;
}

.v-main {
    padding-top: 100px;
    height: 1800px;
}

.v-main-bgd-img {
    background-image: url('../img/leaves-1920.jpg');
    background-size: 4000px 1800px;
    background-repeat: no-repeat;
    
}

.v-white-text {
    color: white;
}