<!-- Employee create page, "Créer un employé". -->

{% extends 'ventashop/base.html' %}

{% block title %}Créer un employé{% endblock title %}

{% block content %}

    <h2>Créer un employé Ventalis</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != "company" %}
                <p class="">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </p>
            {% endif %}
        {% endfor %}
        <button type="submit" >Submit</button>
    </form>

    <div>
        <a href="{% url 'ventashop:employees' %}">Voir tous les employés</a>
    </div>
    


{% endblock content %}