<!-- home page, "Accueil". -->

{% extends 'ventashop/base.html' %}

{% load static %}

{% block title %}Accueil{% endblock title %}

{% block content %}

<main class="v-main-full v-main-bgd-img">
        <div class="container text-center v-white-text">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="p-5">
                    <!-- <div class="d-inline-flex"> -->
                        <div class="">
                            <img class="img-fluid" src="{% static 'ventashop/img/ventalis_&_baseline.png' %}" alt="logo V">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                        <!-- <p class="fs-1 fw-bold v-font-700">Montrez-vous !</p> -->
                    <div class="p-5">
                        <img class="img-fluid" src="{% static 'ventashop/img/montrez-vous.png' %}" alt="logo V">
                    </div>
                    
                </div>
                <div class="p-5 fs-5 text-start pres-color v-fontSans-300">
                  <div class="p-5">
                  <p class="">
                    Nous sommes une entreprise spécialisée dans la vente de produit de marketing. <br>
                    Nos produits ont un seul but : améliorer la visibilité de nos clients. <br>
                    En activité depuis 2018, nous sommes une Licorne 100% française.
                  </p>
                  <p>    
                    Nous mettons l'accent sur notre performance : <br> 
                    rapidité de prestation, garantie satisfaction de nos clients.
                  </p>
                  <p>
                    Aujourd'hui nous sommes forts 50 salariés répartis dans toute la France, un chiffre qui ne cesse de crôitre. <br>
                    L’an passé, c'est trois millions d’euros en chiffre d’affaires consolidé. Un cap que nous sommes fiers et heureux d’avoir franchi.
                  </p>
                  <p>
                    Aussi, dans le contexte actuel, nous nous efforçons de participer à la protection de notre planète via une démarche écologique : <br>
                    Nous reversons 20% de notre chiffre d’affaires annuel (plus de 3 millions d’euros) dans des projets qui mettent en place des solutions durables pour l'avenir. <br>
                    Et en toute transparence, cela se traduit par un service un peu plus cher, mais nos clients sont unanimes et optent pour un geste servant la planète.
                  </p>
                </div>
                </div>
            </div>
        </div>
</main>

{% endblock content %}

