<!-- header of all ventashop pages -->

<nav>
    <ul>
        <li>
            <a href="{% url 'ventashop:contact' %}">Nous contacter</a>
        </li>
        <li>
            <a href="{% url 'ventashop:about' %}">À propos</a>
        </li>
        <li>
            <a href="{% url 'ventashop:home' %}">VENTASHOP</a>
        </li>
        <li>
            <a href="{% url 'ventashop:products' %}">Catalogue de produits</a>
        </li>
        <li>
            <a href="{% url 'ventashop:login' %}">Se connecter</a>
        </li>
    
    </ul>
</nav>